<div class="row  d-flex checkout">
  <div class="col-md-6  order-md-2 border-bottom mt-4">
    <% @order_items.each do |item| %>
        <div class="card mb-1">
          <div class="row no-gutters ">
          <div class="col-4">
            <%= image_tag item.product.img, class: "card-img" %>
            <div class="card-img-overlay">
              <h4 class="card-text d-flex justify-content-end"><span class="badge badge-light"><%= item.size.size %></span></h4>
            </div>
          </div>
          <div class="col-8">
            <div class="card-body">
            <h3><%= item.product.title %></h3>
              <h4 class="card-text text-center"><%= item.quantity %> x <%= item.product.price %>$</h4>
            </div>
          </div>
          </div>
        </div>
    <% end %>
    <hr>
      <div class="d-flex justify-content-between">
        <h6>Subtotal </h6>
        <h6 class="font-weight-bold ">$<%= current_order.subtotal %></span>
      </div>
      <div class="d-flex justify-content-between">
        <h6>Shipping </h6>
        <h6 class="font-weight-bold ">$8</span>
      </div>
    <hr>
      <div class="d-flex justify-content-between">
        <h3>Total </h3>
        <h3 class="font-weight-bold pb-2 ">$<%= current_order.subtotal + 8 %></span>
      </div>
  </div>

  <div class="col-md-6 bg-light rounded  border-right border-bottom">
    <h2 class="font-weight-bold mt-5">YourShop.</h2>
    <h3 class="text-center">Enter your details.</h3>
    <%= render 'form', checkout: @checkout %>
    
    <%= link_to "Back to cart", your_cart_path, class: "btn btn-outline-secondary btn-sm my-3 ml-2" %>
    <div class="btn btn-outline-primary btn-sm ml-auto mr-2" data-toggle="modal" data-target="#exampleModal">
      Return policy
    </div>
    <p>* - You will get access to your order history after registration.</p>

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Refund policy</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo facilis eos, quidem, at cupiditate consequuntur laboriosam necessitatibus optio aut accusamus omnis vitae unde, harum non laudantium molestias dolorum excepturi aliquid?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
        </div>
    
  </div>  

</div>

