<div class="row ">




<% @products.each do |product| %>
<div class="col-6 col-md-4 col-lg-3 card-group    ">
    <div class="card shadow-sm my-3 text-center rounded-0 ">
      <%= image_tag(product.img, class: "card-img-top rounded-0") %>
        <div class="card-body">
          <h5 class="text-uppercase mt-2 mb-0"><%= link_to "#{product.title}", product, class: "text-secondary stretched-link" %></h5>
          <h6 class="font-weight-bold">$<%= product.price %> </h6>
        </div>
    <% if current_user.try(:admin?) %>
    <p class="card-text mb-2">
    <%= link_to 'Edit', edit_product_path(product), style: "position: relative; z-index: 2;", class: "btn btn-outline-primary btn-sm "%>
    <%= link_to 'Destroy', product,style: "position: relative; z-index: 2;", method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm "%>
    </p>
    <% end %>
    </div>
</div>
<% end %>











</div>




