<nav class="navbar navbar-expand-lg navbar-light border-bottom mb-3 py-5 ">
  <%= link_to "YourShop", root_path, class: "btn btn-outline-dark btn-lg shadow-lg font-weight-bold" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <% if current_user.try(:admin?) %>
      <li class="nav-item">
        <%= link_to 'New Product', new_product_path, class: "nav-link btn btn-warning btn-sm mx-1" %>
      </li>
      <li class="nav-item">
        <%= link_to 'New Sizes', new_size_path, class: "nav-link btn btn-warning btn-sm mx-1" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Orders', checkouts_path, class: "nav-link btn btn-warning btn-sm mx-1" %>
      </li>
      <li class="nav-item">
        <%= link_to "New Categories", categories_path, class: "nav-link btn btn-warning btn-sm mr-5" %>
      </li>
      <% end %>
      <li class="nav-item">
        <button class="nav-link btn mr-3" data-toggle="modal" data-target="#exampleModal">
          Contact us<span class="text-warning font-weight-bolder">.</span>
        </button>
      </li>
    </ul>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Contact</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, repudiandae iusto! Blanditiis quisquam hic officia, maiores nobis accusamus? At, officiis beatae voluptatibus aliquam animi tempora dolorem maiores nostrum. Cum, tempora?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</nav>