<!DOCTYPE html>
<html>
  <head>
    <title>Yourshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= tag :meta, name: "stripe-public-key", content: Rails.application.credentials.stripe_publishable_key %>
    <%= javascript_include_tag "https://js.stripe.com/v3/", 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>


  </head>

  <body>
  <div class="container">
  <% if controller_name == "checkouts" && ["new", "create"].include?(action_name) %>
    <%= yield %>
  <% else %>
    <%= render 'layouts/navbar' %>
    <%= render 'products/categories' %>
    <div class="border-top my-3 mx-0 py-5 ">
    <%= flash_messages %>
    <%= yield %>
    </div>
  </div>
    <%= render 'layouts/footer' %>
  <% end %>
  </body>
</html>
