<!DOCTYPE html>
<html>
  <head>
    <title>Yourshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
  <% if controller_name == "checkouts" && ["new", "create"].include?(action_name) %>
    <%= yield %>
  <% else %>
    <%= render 'layouts/navbar' %>
    <%= render 'products/categories' %>
    <div class="border-top my-3 mx-0 py-5 ">
    <%= flash_messages %>
    <%= yield %>
    </div>
  </div>
    <%= render 'layouts/footer' %>
  <% end %>
  </body>
</html>
